<template>
    <div>
        <h1>Hee!!</h1>
        <input type="text" placeholder="what did you do today?" v-model="todo.title" @keypress.enter="addTodo" />
    </div>
    
</template>

<script>

import TodoModel from './../models/todo.js';

export default {
    data() {
        return {
            todo: new TodoModel(),
        }
    },
    methods: {
        addTodo() {
            if (this.todo.title !== "") {
                this.$store.dispatch('addTodo', this.todo)
                    .then(() => {
                        this.reset();
                    })
                    .catch((error) => {
                        alert("error occurred: " + error);
                    });
            }
        },

        reset() {
            this.todo = new TodoModel();
        }
    }
}
</script>

<style>
</style>