<template>
    <div class="todo-wrapper">
        <input type="checkbox" v-model="todo.completed" :id="todo.id" />
        <h1 class="todo-title" :class="{ completed: todo.completed }">{{ todo.title }}</h1>
        <span class="delete-btn" @click="deleteTodo(todo.id)">delete</span>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    props: {
        todo: Object
    },
    methods: {
        ...mapActions(['deleteTodo'])
    }
}
</script>

<style>
.todo-wrapper > h1 {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

.todo-wrapper > input {
    margin: 10px;
}

.todo-title {
    font-style: italic;
}

.completed {
    text-decoration: line-through;
}

.delete-btn {
    text-decoration: underline;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
</style>