<template>
    <div>
        <h1>Today I learnt?</h1>
        <div v-for="todo in todos" :key="todo.id">
            <Todo :todo="todo"/>
        </div>
        <span>No of tasks completed: {{ getCompletedStr }} </span>
    </div>
</template>

<script>
import Todo from "./Todo.vue";
import { mapState, mapGetters } from 'vuex';

export default {
    components: {
        Todo
    },
    created() {
        this.$store.dispatch('fetchTodos');
    },
    computed: {
        ...mapState(['todos']),
        ...mapGetters(['completedTodos']),
        getCompletedStr() {
            return this.$store.getters.completedTodos + ' / ' + this.todos.length;
        }
    }
}
</script>

<style>
li {
    list-style-type: none;
}
</style>