<template>
  <div id="app">
    <AddTodo />
    <Todos />
    <Todos />
  </div>
</template>

<script>
import Todos from './components/Todos.vue'
import AddTodo from "./components/AddTodo.vue"

export default {
  name: 'App',
  components: {
    Todos,
    AddTodo
  },
  data() {
    return {
      
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 1024px;
  margin: 60px auto;
}
</style>
